body {
  font-family: 'Merriweather', serif;
  margin: 0px;
  text-align: center;
  font-size: 1.2rem;
  color: #40514E;
}

.top-container {
  background-color: #e4fbff;
  text-align: center;
  position: relative;
  padding: 100px;
  font-family: 'Merriweather', serif;

}

h1 {
  width: 100%;
  margin: 0 auto;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  color: #66BFBF;
  line-height: 2;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-align: left;
  font-size: 1.7rem;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-top-color: lightgray;
  border-width: 10px;
  width: 5%;
  margin: 50px auto;
}

p{
    line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

#dreamer{
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 400px;
}

.middle-container{
  margin: 100px auto;
}

.Amelia{
  height: 256px;
  width: 256px;
  margin-top: 30px;
}

.skill-row{
  width: 50%;
  margin: 50px auto;
}

.programming{
  width: 25%;
  display: inline-block;
  float: left;
  margin-right: 30px;
  width: 30%
}

.programming-description{
  text-align: left;
}

.languages{
  width: 25%;
  display: inline-block;
  margin-right: 20px;
  float: right;
}

.language-skills{
  text-align: left;
  clear: right;
}


.to-contact{
  text-align: center;
}

a{
  color:#11999E;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.BUTTON-CONTACT {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 30px;
   font-weight: 200;
   padding: 10px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px;
}

.BUTTON-CONTACT:hover {
   border: solid #99C624 1px;
   background: #99C624;
   background-image: -webkit-linear-gradient(top, #99C624, #99C624);
   background-image: -moz-linear-gradient(top, #99C624, #99C624);
   background-image: -ms-linear-gradient(top, #99C624, #99C624);
   background-image: -o-linear-gradient(top, #99C624, #99C624);
   background-image: -webkit-gradient(to bottom, #99C624, #99C624);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}



.bottom-container{
  background-color: #66BFBF;
  padding-top: 20px;
}

.footer-link{
  font-size: 20px;
  font-weight: bolder;
  margin: 20px 16px;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.flaticon{
  font-size: 12px;
  font-weight: 100;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.copyright{
  color:#EAF6F6;
  text-align: center;
}
